.smallnav{
	width:100%;
	font-family:"Merriweather",Georgia,Times,serif,Times,serif;
}
.smallnav .main {
	float:right;
	position:relative;
	background:#F4F0F0;
	border:1px solid #E0D6D6;
	color: #2E76CF;
	z-index:50;
}
.smallnav ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	width: 200px;
	top:-25px;
}
.smallnav ul li{
	padding:5px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
	background-color: #FFF;
	font-size: 11px;
	padding: 5px;
	float:left;
	position: relative;
	width: 245px;
	box-shadow: 0 1px 3px rgba(0, 53, 229, 0.4);
	color: #211922;
}
.smallnav li{
	float:left;
	margin-right:10px;
	position:relative;
}
.smallnav a{
	display:block;
	text-decoration:none;
}
.smallnav li:hover ul{ /* Display the dropdown on hover */
	left:-10px; /* Bring back on-screen when needed */
}
#nav{
	margin-bottom:10px;
	float:left;
	width:100%;
	position:relative;
	z-index:5;
	font-family: Verdana;
	font-size: 10px;
	font: 0.875em/28px "Merriweather",Georgia,Times,serif,Times,serif;
    transition: all 0.2s linear 0s;
}
#nav .main {
	color:#FFFFFF;
	background:#F4F0F0;
	border:1px solid #E0D6D6;
	color: #2E76CF;
}
#nav ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	width: 200px;
}
#nav ul li{
	padding:5px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;

	background-color: #FFF;
	font-size: 11px;
	padding: 5px;
	float:left;
	position: relative;
	width: 245px;
	box-shadow: 0 1px 3px rgba(0, 53, 229, 0.4);
	color: #211922;
}
#nav li{
	float:left;
	margin-right:10px;
	position:relative;
}
#nav a{
	display:block;
	padding:5px 15px 5px 15px;
	text-decoration:none;
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
.overlayWrapper {
	display: none;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	min-width: 200px;
	background-color: #FFF;
	color: #333;
	border:2px solid #ccc;
	padding: 12px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
}
.overlayBackground {
	background-color: #000;
}
* html .overlayWrapper {
	position: absolute;
	top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
#wrapper {
	width: 100%;
	min-width: 1000px;
}
.roundall {
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.left {
	position:relative;
	float:left;
}
.textButton {
	border:0px;
	background:transparent;
	color: #2E76CF;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: bold;

}
body {
	color: #222222;
	font-family: helvetica,arial,verdana,sans-serif;
	font-size: 13px;
	background-image:url(../img/background.png);
	/*background-repeat: no-repeat;*/
	background-color: #FFF;
}
#filterbar #sortbar {
	float:left;
	position:relative;
	z-index:9009;
	margin: 0px auto;
}
.filterheader {
	position:relative;
	font-weight:bold;
	padding:0 25px 0 25px;
	float:left;
}
.left {
	float:left;
}
.inner {
	margin: 0 auto;
	position: relative;
}
.group:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.inner nav{
	position: relative;
	z-index: 3;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	height:35px;
	background-color:#0090D2;
	width: 1020px;
}
#content{
	margin: auto 0;
	padding: 10px;
	width: 90%;
	font-family: 'Helvetica Neue',Arial,sans-serif;
	clear:both;
	min-height: 1000px;
	background-color:rgba(255,255,255,0.3);
	border:1px solid #CAC9C9;
	/*opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */*/
}
#content .filter {
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	font-size: 11px;
	padding: 10px;
	margin:10px;
	float:left;
	position: relative;
	width: 192px;
	color: #211922;
	min-height:500px;
}
#content .badge {
	background-color: #FFF;
	font-size: 11px;
	padding: 5px;
	margin:10px;
	float:left;
	position: relative;
	width: 245px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	color: #211922;
}
#content .car {
	background-color: #FFF;
	font-size: 11px;
	padding: 5px;
	margin:10px;
	float:left;
	position: relative;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	color: #211922;
	min-height:70px;
}
#content .car .button1policy {
	display: block; 
	margin: 5px; 
	padding: 4px 15px; 
	border: 1px solid #4081af; 
	font-size:16px;
	font-weight:bold;
	border-bottom-color: #20559a; 
	color: white; 
	text-align: center; 
	text-shadow: 0 -1px 0 rgba(0,0,0,.3); 
	text-decoration: none; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	khtml-border-radius: 4px; 
	border-radius: 4px; 
	background-color: #0090D2; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf)); 
	background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%); 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);
}
#content .car .button0policy {
	display: block; 
	margin: 5px; 
	padding: 4px 15px; 
	border: 1px solid #999999; 
	font-size:16px;
	font-weight:bold;
	border-bottom-color: #999999; 
	color: #000000; 
	text-align: center;  
	text-decoration: none; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	khtml-border-radius: 4px; 
	border-radius: 4px; 
	background-color: #0090D2; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #cccccc), color-stop(1, #2e76cf)); 
	background: -moz-linear-gradient(center top, #cccccc 20%, #cccccc 100%); 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);
}
#content .list .carrierimg {
	padding: 10px 0 0 5px;
}
.list .fares {
	text-align:center;
	border-left:1px solid #CCC;
}
.fade {
	color:#999;
}
.bold {
	font-weight:bold;
}
.large {
	font-size:20px;
	text-transform:uppercase;
}
.medium {
	font-size:16px;
	text-transform:uppercase;
}
.center {
	text-align:center;
}
.paddingright {
	padding-right: 15px;
}
.right {
	text-align:right;
}
.details {
	border:1px solid #CCCCCC;
}
.details td {
	padding:4px;
}
.destination {
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	border-left:0;
	border-right:0;
}
.layover {
	background-color:#FCF9D6;
	text-align:center;
	border:1px solid #CCCCCC;
}
#findmore {
	border:1px solid #CCCCCC;
}
#findmore td {
	height:20px;
	padding-left:4px;
}
#waiting {
	position:absolute;
	top: 50%;
	left: 50%;
	width:200px;
	height:50px;
	padding:20px;
	text-align:center;
	color:#FFFFFF;
	margin-top: -100px; /*set to a negative number 1/2 of your height*/
	margin-left: -100px; /*set to a negative number 1/2 of your width*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf)); 
	background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%); 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	khtml-border-radius: 10px; 
	border-radius: 10px; 
}
input[type="submit"] {
	display: block; 
	margin: 5px; 
	padding: 4px 15px; 
	border: 1px solid #4081af; 
	font-size:18px;
	font-weight:bold;
	border-bottom-color: #20559a; 
	color: white; 
	text-align: center; 
	text-shadow: 0 -1px 0 rgba(0,0,0,.3); 
	text-decoration: none; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	khtml-border-radius: 4px; 
	border-radius: 4px; 
	background-color: #0090D2; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf)); 
	background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%); 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);
}
footer[role="contentinfo"]{
	font-size: 0.85em;
	padding-top: 15px;
}
#footer {
	height: 100px;
}
form { 
	position: absolute;
	right: 20px;
	top: -8px;
	z-index: 400;
}
form div{
	max-height: 33px;
	position: relative;
	width: 275px;
}
form div input[type="text"]{
	background: #eee;
	border:1px solid rgba(0,0,0,0.3);
	padding:8px 75px 8px 8px;
	width:191px;
}
form div input[type="submit"] { 
	cursor: pointer;
	float: right;
	margin: 0px !important;
	padding: 4px 6px !important;
	position: relative;
	right: 4px;
	top: -29px;
}
input[type="text"] {
	background: #fff;
	border:1px solid rgba(0,0,0,0.3);
	padding:8px;
}
textarea {
	background: #fff;
	border:1px solid rgba(0,0,0,0.3);
	padding:8px;
}
/* Filters */
.popup {
	color: #333333;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	margin: 0 8px;
	position: relative;
}
.popup-airlines {
	border: 1px solid #B7CFDF;
	background-color: white;
	color: gray;
	font-size: 13px;
	line-height: normal;
	width: 480px;
	border-radius: 5px 5px 5px 5px;
}
.popup-classes {
	border: 1px solid #B7CFDF;
	background-color: white;
	color: gray;
	font-size: 13px;
	line-height: normal;
	width: 250px;
	border-radius: 5px 5px 5px 5px;
}
.prefs-helptext {
	color: gray;
	font-size: 14px;
	line-height: normal;
	margin: 10px 6px;
	padding: 8px;
}
div.region {
	margin: 10px 0;
	overflow: hidden;
}
div.checkbox {
	float: left;
	height: 20px;
	margin: 5px;
	overflow: hidden;
	width: 150px;
}


#content .hotel {
	background-color: #FFF;
	font-size: 12px;
	padding: 5px;
	margin:10px;
	float:left;
	position: relative;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	color: #211922;
	min-height:70px;
}
#content .hotel .button1policy {
	display: block; 
	margin: 5px; 
	padding: 4px 15px; 
	border: 1px solid #4081af; 
	font-size:16px;
	font-weight:bold;
	border-bottom-color: #20559a; 
	color: white; 
	text-align: center; 
	text-shadow: 0 -1px 0 rgba(0,0,0,.3); 
	text-decoration: none; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	khtml-border-radius: 4px; 
	border-radius: 4px; 
	background-color: #0090D2; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf)); 
	background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%); 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);
}
#content .hotel .button0policy {
	display: block; 
	margin: 5px; 
	padding: 4px 15px; 
	border: 1px solid #999999; 
	font-size:16px;
	font-weight:bold;
	border-bottom-color: #999999; 
	color: #000000; 
	text-align: center;  
	text-decoration: none; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	khtml-border-radius: 4px; 
	border-radius: 4px; 
	background-color: #0090D2; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #cccccc), color-stop(1, #2e76cf)); 
	background: -moz-linear-gradient(center top, #cccccc 20%, #cccccc 100%); 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);
}

#mapdiv {
	width:760px;
	float:left;
	border:1px solid #CCC;
	margin:0 auto;
}
.map {
	width:760px;
	height:280px;
	/*float:right;*/
	position:relative;
	margin:0 0 10px;
}
.popUpTable {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-size: 11px;
	border-spacing: 0;
	padding:10px;
}
.popUpTable table {
	border-spacing: 0;
}
/* 
 * ------------------------------------------ 
 * 				TABS
 * ------------------------------------------ 
 */
ul.tabs {
	margin:7px;
	padding:0px;
}
ul.tabs li {
	list-style:none;
	display:inline;
}
ul.tabs li a {
	background-color:#0090D2;
	color:#FFF;
	padding:8px 14px 8px 14px;
	text-decoration:none;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	border:1px solid #0090D2;
}
ul.tabs li a:hover {
	background-color:#2f343a;
	color:#FFFFFF;
	border-color:#2f343a;
	cursor: hand;
}  
ul.tabs li a.active {
	background-color:#ffffff;
	color:#2f343a;
	border:1px solid #0090D2;
	border-bottom: 1px solid #ffffff;
}
.tabcontent {
	min-width: 500px;
	min-height: 150px;
	padding: 25px;
	border: 4px solid #0090D2;  
}
/* 
 * ------------------------------------------ 
 * 				SEAT MAPS
 * ------------------------------------------ 
 */
.seat {
	width:22px;
	height:22px;
	position:relative;
	float:left;
	display:table-cell;
	text-align:center;
	padding:0px;
}
.Available {
	background-image:url(../img/available.png);
}
.Preferential, .Extra, .Group {
	background-image:url(../img/preferred.png);
}
.Occupied, .Reserved, .Protected, .RBDRestriction,  .AdvancedBoardingPass{
	background-image:url(../img/occupied.png);
}
.InterlineCheckin, .Codeshare, .PartnerAirline, .AdvSeatSelection {
	background-image:url(../img/unknown.png);
}
.NoSeat, .Blocked {
	background-image:url(../img/seatna.png);
}
.wingmiddle {
	background-color:#CCCCCC;
}