/* Save and include the following CSS styles on your page. */

.popover-content, .popover-title {
	text-align: left;
}

.changesearch {
	color: blue;
	font-size: 14px;
}

#summaryForm .error {
	border-color: #b94a48;
	color: #b94a48;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
a {
    color: #2E76CF;
}

a:hover {
    color: #3279e5;
}

#main-nav ul li.active {
    border-top-color: #2E76CF;
}

#main-nav ul li.active:before {
    border-top-color: #2E76CF;
}

#main-nav ul ul li a:hover {
    background-color: #2E76CF;
}

.blog .post .side .post-type {
    background-color: #2E76CF;
}

.blog .post .content .meta li a:hover {
    color: #2E76CF;
}

.blog .post .wrap .read-more a {
    background-color: #2E76CF;
}

.portfolio-filter ul li.active a, .portfolio-filter ul li:hover a {
    background-color: #2E76CF;
}

.portfolio-filter ul li.active a:after {
    border-top-color: #2E76CF;
}

.portfolio-items .item .image .overlay .actions li a:hover {
    color: #2E76CF;
}

.portfolio-row .read-more a {
    background-color: #2E76CF;
}

.portfolio .portfolio-meta span:before {
    background-color: #2E76CF;
}

.highlight {
    color: #2E76CF;
}

.underline {
    border-bottom-color: #2E76CF;
}

.underline-heading h1, .underline-heading h2, .underline-heading h3, .underline-heading h4, .underline-heading h5, .underline-heading h6 {
    border-bottom-color: #2E76CF;
}

.check-list li:before {
    color: #2E76CF;
}

.arrow-list li:before {
    border-left-color: #2E76CF;
}

.skill .circles span.filled {
    background-color: #2E76CF;
}

.our-team .photo .info {
    border-left-color: #2E76CF;
}

.our-team .social ul {
    border-top-color: #2E76CF;
}

.service .read-more a {
    background-color: #2E76CF;
}

.highlights.bold .highlight-item:hover .icon {
    background-color: #2E76CF;
}

.callout .link {
    background-color: #2E76CF;
}

.callout .link:before {
    border-right-color: #2E76CF;
}

.portfolio-carousel .carousel-nav li a {
    background-color: #2E76CF;
}

.latest-blog .overlay .post-type {
    background-color: #2E76CF;
}

.accordion .accordion-header {
    border-left-color: #2E76CF;
}

.blue {
    color: #2E76CF;
}

body {
	background-image:url(../img/slider-wrap-bg.png);
}

.noresults {
	font-size: 14px;
	font-weight: bold;
	margin-left: 36px;
}

.carType {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.change-search {
    color: #2E76CF;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-left: 3px;
}

/*
----------------------------------------------------------------------------------------------------------
	BADGE LINKS
----------------------------------------------------------------------------------------------------------
*/

.outofpolicy {
	cursor: pointer;
	position: relative;
}
/*hack to control the gap between the text and the underline*/
.outofpolicy::after {
  border-bottom: 1px dotted #ccc;
  bottom: 0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
}

ul.tabs {
	margin:7px;
	padding:0px;
}
ul.tabs li {
	list-style:none;
	display:inline;
}
ul.tabs li a {
	background-color:#F4F0F0;
	color:#2E76CF;
	padding:8px 14px 8px 14px;
	text-decoration:none;
	font-weight:bold;
	text-transform:uppercase;
	border:1px solid #CBC7BD;
}
ul.tabs li a:hover {
	color:#2E76CF;
	border-color:#2f343a;
	cursor: hand;
}
ul.tabs li a.active {
	color:#2E76CF;
	background-color: #FFFFFF;
	border:1px solid #2E76CF;
}

/*
----------------------------------------------------------------------------------------------------------
	FILTER
----------------------------------------------------------------------------------------------------------
*/

#filter .filterheader {
	position:relative;
	font-weight:bold;
	font-size: 14px;
	padding:0 25px 0 5px;
	float:left;
}
#filter ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	min-width: 150px;
	z-index:999;
	background-color: #FFFFFF;
}
#filter ul li{
    float:none;
    background-color: #FFF;
    font-size: 11px;
    float:left;
    position: relative;
    min-width: 245px;
    box-shadow: 0 1px 3px rgba(0, 53, 229, 0.4);
    color: #211922;
    padding: 3px 0 3px 15px;
}
#filter li{
	float:left;
	margin-right:10px;
	position:relative;
    list-style: none;
}
#filter li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}

.filter h4, .filter h4 a {
	color: #666;
	margin: 0;
}

.filter .row {
	margin-bottom: 0;
}

.filter .navbar {
	margin-bottom: 3px;
}

.filterselection {
	-webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    4px 4px 10px rgba(50, 50, 50, 0.5);
	box-shadow:         4px 4px 10px rgba(50, 50, 50, 0.5);
	position: absolute;
	z-index: 99;
	display: none;
}

.filter .navbar-inner {
	padding-left: 8px;
	padding-right: 8px;
}

.spinner {
	color: #045596;
	padding-right: 2em;
	display: none;
}

.noFlightsFound {
	display: none;
	margin-bottom: 3em;
}



/*
----------------------------------------------------------------------------------------------------------
	SMALL NAVIGATION
----------------------------------------------------------------------------------------------------------
*/

.smallnav{
	width:100%;
}
.smallnav .main {
	float:right;
	position:relative;
	background:#F4F0F0;
	border:1px solid #E0D6D6;
	color: #2E76CF;
	z-index:5;
    margin-right: 20px;
    padding:3px 5px 3px 5px;
}
.smallnav ul{
	list-style:none;
	position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	width: 200px;
	top:-25px;
}
.smallnav ul li{
	padding:5px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
	background-color: #FFF;
	font-size: 11px;
	padding: 5px;
	float:left;
	position: relative;
	width: 245px;
	box-shadow: 0 1px 3px rgba(0, 53, 229, 0.4);
	color: #211922;
}
.smallnav li{
	float:left;
	margin-right:10px;
	position:relative;
    list-style: none;
}
.smallnav a{
	display:block;
	text-decoration:none;
}
.smallnav li:hover ul{ /* Display the dropdown on hover */
	left:-10px; /* Bring back on-screen when needed */
}

/*
----------------------------------------------------------------------------------------------------------
	BADGE
----------------------------------------------------------------------------------------------------------
*/

.badge {
	background-color: #FFF;
	padding: 10px;
	margin:10px;
	float:left;
	position: relative;
	width: 280px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	color: #211922;

	/*overwrite bootstrap defaults*/
 	border-radius: 0;
	font-weight: normal;
	text-shadow: none;
}

.badge .carrierimg {
	padding-bottom: 5px;
}

.carrow {
	background-color: #FFF;
	font-size: 11px;
	padding: 5px;
	margin:10px;
	float:left;
	position: relative;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	color: #211922;
	min-height:70px;
	clear:both;
}
.fulldiv {
	clear:both;
	min-width:1000px;
	position: relative;
	float: left;
	display: block;
}
.summarydiv {
	font-size: 11px;
	padding: 5px;
	margin:10px;
	float:left;
	overflow: auto;
	position: relative;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	color: #211922;
	min-height:70px;
	border:4px solid #FFF;
}
.background {
	background-color: #E3EEF4;
}
#content .list .carrierimg {
	padding: 10px 0 0 5px;
}
.list .fares {
	text-align:center;
	border-left:1px solid #CCC;
}
.fade {
	color:#999;
}
.bold {
	font-weight:bold;
}
.large {
	font-size:20px;
	text-transform:uppercase;
}
.medium {
	font-size:16px;
}
.preferred {
	font-size:14px;
}
.upper {
	text-transform:uppercase;
}
.center {
	text-align:center;
}
.paddingright {
	padding-right: 15px;
}
.right {
	text-align:right;
}
.details {
	border:1px solid #CCCCCC;
}
.details td {
	padding:4px;
}
.green {
	color:#6EC601;
}
.destination {
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	border-left:0;
	border-right:0;
}
.layover {
	background-color:#FCF9D6;
	text-align:center;
	border:1px solid #CCCCCC;
}
#findmore {
	border:1px solid #CCCCCC;
}
#findmore td {
	height:20px;
	padding-left:4px;
}
#waiting {
	position:absolute;
	top: 50%;
	left: 50%;
	width:200px;
	height:50px;
	padding:20px;
	text-align:center;
	color:#FFFFFF;
	margin-top: -100px; /*set to a negative number 1/2 of your height*/
	margin-left: -100px; /*set to a negative number 1/2 of your width*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf));
	background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	khtml-border-radius: 10px;
	border-radius: 10px;
}
footer[role="contentinfo"]{
	font-size: 0.85em;
	padding-top: 15px;
}

.btnmargin {
	margin: 5px 0;
}

/*
----------------------------------------------------------------------------------------------------------
	FILTERS
----------------------------------------------------------------------------------------------------------
*/

.popup {
	color: #333333;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	margin: 0 8px;
	position: relative;
}
.popup-airlines {
	border: 1px solid #B7CFDF;
	background-color: white;
	color: gray;
	font-size: 13px;
	line-height: normal;
	width: 480px;
	border-radius: 5px 5px 5px 5px;
}
.popup-classes {
	border: 1px solid #B7CFDF;
	background-color: white;
	color: gray;
	font-size: 13px;
	line-height: normal;
	width: 250px;
	border-radius: 5px 5px 5px 5px;
}
.prefs-helptext {
	color: gray;
	font-size: 14px;
	line-height: normal;
	margin: 10px 6px;
	padding: 8px;
}
div.region {
	margin: 10px 0;
	overflow: hidden;
}
div.checkbox {
	float: left;
	height: 20px;
	margin: 5px;
	overflow: hidden;
	width: 150px;
}


#content .hotel {
	background-color: #FFF;
	font-size: 12px;
	padding: 5px;
	margin:10px;
	float:left;
	position: relative;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	color: #211922;
	min-height:70px;
}

#mapdiv {
	/*width:760px;*/
	float:left;
	border:1px solid #CCC;
	margin:0 auto;
}
.map {
	width:760px;
	height:760px;/*280*/
	/*float:right;*/
	position:relative;
	margin:0 0 10px;
}
.popUpTable {
	font-size:10px;
	font-size: 11px;
	border-spacing: 0;
	padding:10px;
}
.popUpTable table {
	border-spacing: 0;
}

/*
----------------------------------------------------------------------------------------------------------
	SEAT MAPS
----------------------------------------------------------------------------------------------------------
*/

.seat {
	width:22px;
	height:22px;
	position:relative;
	float:left;
	display:table-cell;
	text-align:center;
	padding:0px;
}
.seat a {
	width:22px;
	height:30px;
	padding:0 0 5px;
}
.Available {
	background-image:url(../img/seats/available.png);
}
.Preferential, .Extra, .Group {
	background-image:url(../img/seats/preferred.png);
}
.Occupied, .Reserved, .Protected, .RBDRestriction,  .AdvancedBoardingPass{
	background-image:url(../img/seats/occupied.png);
}
.InterlineCheckin, .Codeshare, .PartnerAirline, .AdvSeatSelection, .Unknown {
	background-image:url(../img/seats/unknown.png);
}
.NoSeat, .Blocked {
	background-image:url(../img/seats/seatna.png);
}
.wingmiddle {
	background-color:#CCCCCC;
}
.currentseat {
	background-image:url(../img/seats/currentseat.png);
}

/*
----------------------------------------------------------------------------------------------------------
	HOTEL
----------------------------------------------------------------------------------------------------------
*/

.calendarDay {
	vertical-align: text-top;
	border: 1px solid #E6E9F3;
	text-align: center;
	width: 14%;
	height: 100%;
	line-height: 100%;
}

/*
----------------------------------------------------------------------------------------------------------
HEADER AND BREADCRUMB, RESPONSIVE ITEMS
----------------------------------------------------------------------------------------------------------
*/

#main-content .page-header h1 {
	text-transform: uppercase;
	margin-bottom: -18px;
}

@media (max-width: 640px) {
	#main-content .page-header h1 {
		font-size: 16px;
	}
	#main-content .page-header h1 small {
		font-size: 12px;
	}
}

@media (min-width: 640px) {
	#main-content .page-header h1 {
		font-size: 20px;
	}
	#main-content .page-header h1 small {
		font-size: 14px;
	}
	#main-content .filterbar {
		float: left;
	}
}

@media (min-width:960px) {
	#main-content .page-header h1 {
		font-size: 24px;
	}
	#main-content .page-header h1 small {
		font-size: 16px;
	}

#main-content .filterbar {
		float: right;
	}
}

@media (min-width:1100px) {
	#main-content .page-header h1 {
		font-size: 30px;
	}
	#main-content .page-header h1 small {
		font-size: 22px;
	}
	#main-content .filterbar {
		float: right;
	}
}

#header-bottom .row {
    margin-bottom: 0;
}

.page-header h2 {
	line-height: 0;
}

.newsearch {
	padding-top: 5px;
}

/*
----------------------------------------------------------------------------------------------------------
	LEGS
----------------------------------------------------------------------------------------------------------
*/

.legs {padding-bottom: 1em;}

.legbtn {
	margin-right: 1em;
}


/*
----------------------------------------------------------------------------------------------------------
	HOTEL SEARCH RESULTS
----------------------------------------------------------------------------------------------------------
*/

/*
#mapDiv{
    border: 1px solid #555;
}

.hotel-results{
    border: 1px solid #555;
}
*/

.hotel {
	width: 93%;
	margin-bottom: 5px;
	white-space: normal;
}

.signature-image{
    width: 20%;
    min-width: 100px;
    height: 70px;
    overflow: hidden;
    display: block;
    float: left;
    margin-right: .7em;
}

.hotel-info{
    display: block;
    float: left;
    clear: none;
    width: 50%;
}

    .hotel-name{
        font-size: 13px;
        font-weight: bold;
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
    }

    .hotel-distance{
        font-size: 11px;
        display: block;
        width: 100%;
        margin: .3em 0 1.4em;
    }



.hotel-pricing{
    display: block;
    float: left;
    clear: right;
    width: 24%;
    text-align: center;
    vertical-align: bottom;
}

    .sold-out{
        display: block;
        color: red;
        margin-top: 40px;
    }

    .outofpolicy-wrapper{
        height: 15px;
    }

    .daily-rate{
        display: block;
        clear: both;
        margin: 0.7em 0 .3em 0;
    }

.hotel-panel{
    clear: both;
    padding-top: .7em;
}

.hotel-panel .dl-horizontal dt{
    width: 70px;
    margin-bottom: .3em;
}

.hotel-panel .dl-horizontal dd{
    margin-left: 90px;
    margin-bottom: .5em;
}

.rating{
    margin-left: .7em;
}

.hotel-panel table{
    border: none;
}

tr.hotel-room{
    width: 100%;
    border: none;
}

tr.hotel-room td{
    vertical-align: top;
    padding: 10px 5px 10px 5px;
}
    .room-description{
        width: 65%;
    }

    .room-rate-code{
        white-space: nowrap;
        width: 15%;
    }

    .room-rate{
        white-space: nowrap;
        width: 20%;
    }

    .odd{
        background-color: #F0F0F0;
    }

#changeSearchWindow div.form-row{
    margin-bottom: 10px;
}


/*
----------------------------------------------------------------------------------------------------------
	RIBBON
----------------------------------------------------------------------------------------------------------
*/

.ribbon {
	display: block;
	height: 58px;
	position: absolute;
	top: 0;
	width: 58px;
}

.ribbon-l-govt {
	background: url(../img/ribbon/ribbon-l-govt.png) no-repeat;
	left: 0;
}
.ribbon-r-govt {
	background: url(../img/ribbon/ribbon-r-govt.png) no-repeat;
	right: 0;
}
.ribbon-l-cont {
	background: url(../img/ribbon/ribbon-l-cont.png) no-repeat;
	left: 0;
}
.ribbon-r-cont {
	background: url(../img/ribbon/ribbon-r-cont.png) no-repeat;
	right: 0;
}
.ribbon-l-pref {
	background: url(../img/ribbon/ribbon-l-pref.png) no-repeat;
	left: 0;
}
.ribbon-r-pref {
	background: url(../img/ribbon/ribbon-r-pref.png) no-repeat;
	right: 0;
}
.ribbon-l-pref-cont {
	background: url(../img/ribbon/ribbon-l-pref-cont.png) no-repeat;
	left: 0;
}
.ribbon-r-pref-cont {
	background: url(../img/ribbon/ribbon-r-pref-cont.png) no-repeat;
	right: 0;
}
.ribbon-l-pref-govt {
	background: url(../img/ribbon/ribbon-l-pref-govt.png) no-repeat;
	left: 0;
}
.ribbon-r-pref-govt {
	background: url(../img/ribbon/ribbon-r-pref-govt.png) no-repeat;
	right: 0;
}

/*
----------------------------------------------------------------------------------------------------------
	MODAL
----------------------------------------------------------------------------------------------------------
*/

#myModalBody h3 {
	line-height: 0;
	margin: 0;
}

.tripdetails {
	font-size: 20px;
}

/*
----------------------------------------------------------------------------------------------------------
	DETAILS POPUP (details, bags, seats, email)
----------------------------------------------------------------------------------------------------------
*/

.popuplogo {padding-right: 1em;}

.bigModal {
	margin-left: -450px;
	margin-top: -30px;
	width: 900px;
}

.bigModal .modal-body {
	max-height: 500px;
	overflow: auto;
}

#seats .popuplogo {padding: 1em 1em 0;}

.media-heading h3 {margin-bottom: 0;}
