.smallnav{
	width:100%;
	font-family:"Merriweather",Georgia,Times,serif,Times,serif;
}
.smallnav .main {
	float:right;
	position:relative;
	background:#F4F0F0;
	border:1px solid #E0D6D6;
	color: #2E76CF;
	z-index:50;
}
.smallnav ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	width: 200px;
	top:-25px;
}
.smallnav ul li{
	padding:5px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
	background-color: #FFF;
	font-size: 11px;
	padding: 5px;
	float:left;
	position: relative;
	width: 245px;
	box-shadow: 0 1px 3px rgba(0, 53, 229, 0.4);
	color: #211922;
}
.smallnav li{
	float:left;
	margin-right:10px;
	position:relative;
}
.smallnav a{
	display:block;
	text-decoration:none;
}
.smallnav li:hover ul{ /* Display the dropdown on hover */
	left:-10px; /* Bring back on-screen when needed */
}
#nav{
}
#nav ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	min-width: 150px;
	z-index:999;
	background-color: #FFFFFF;
	font: 0.875em/28px "Merriweather",Georgia,Times,serif,Times,serif;
}
#nav ul li{
	padding: 0.4em 1em;
	float:none;
	background-color: #FFF;
	font-size: 11px;
	padding: 0.4em 1em;
	float:left;
	position: relative;
	min-width: 245px;
	box-shadow: 0 1px 3px rgba(0, 53, 229, 0.4);
	color: #211922;
}
#nav li{
	float:left;
	margin-right:10px;
	position:relative;
}
#nav a{
	display:block;
	padding: 0.4em 1em;
	text-decoration:none;
	display: block;
    line-height: 1.2;
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
.error {
	margin: 0 auto;
	width: 90%;
	text-align: center;
	font: 0.875em/28px "Merriweather",Georgia,Times,serif,Times,serif;
	padding: 3px 15px 3px 15px;
	border: 1px solid #FCEFA1;
	color: #2E76CF;
	background-color: #FCF9D7;
}
.overlayWrapper {
	margin-right: auto;
	margin-left: auto;
	top: 10%;
	left: 10%;
	display: none;
	position: fixed;
	min-width: 200px;
	min-height: 300px;
	background-color: #FFF;
	color: #333;
	border:2px solid #999999;
	padding: 12px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
}
.overlayBackground {
	background-color: #000;
}
* html .overlayWrapper {
	position: absolute;
	top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
#wrapper {
	width: 100%;
	min-width: 1000px;
}
.roundall {
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.left {
	position:relative;
	float:left;
}
.textButton {
	border:0px;
	background:transparent;
	color: #2E76CF;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: bold;

}
body {
	color: #222222;
	font-family: helvetica,arial,verdana,sans-serif;
	font-size: 13px;
	background-image:url(../img/background.png);
	/*background-repeat: no-repeat;*/
	background-color: #FFF;
}
#filterbar #sortbar {
	float:left;
	position:relative;
	z-index:9009;
	margin: 0px auto;
}
.filterheader {
	position:relative;
	font-weight:bold;
	padding:0 25px 0 25px;
	float:left;
}
.left {
	float:left;
}
.inner {
	margin: 0 auto;
	position: relative;
}
.group:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.inner nav{
	position: relative;
	z-index: 3;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	height:35px;
	background-color:#0090D2;
	width: 1020px;
}
#content{
	margin: auto 0;
	padding: 10px;
	width: 90%;
	font-family: 'Helvetica Neue',Arial,sans-serif;
	clear:both;
	min-height: 1000px;
	background-color:rgba(255,255,255,0.3);
	border:1px solid #CAC9C9;
	/*opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */*/
}
#content .filter {
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	font-size: 11px;
	padding: 10px;
	margin:10px;
	float:left;
	position: relative;
	width: 192px;
	color: #211922;
	min-height:500px;
}
#content .badge {
	background-color: #FFF;
	font-size: 11px;
	padding: 10px;
	margin:10px;
	float:left;
	position: relative;
	width: 235px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	color: #211922;
}
#content .car {
	background-color: #FFF;
	font-size: 11px;
	padding: 5px;
	width: 1000px;
	margin:10px;
	float:left;
	position: relative;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	color: #211922;
	min-height:70px;
	clear:both;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
.fulldiv {
	clear:both;
	min-width:1000px;
	position: relative;
	float: left;
	display: block;
}
.summarydiv {
	font-size: 11px;
	padding: 5px;
	margin:10px;
	float:left;
	position: relative;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	color: #211922;
	min-height:70px;
	border:4px solid #FFF;
}
.background {
	background-color: #E3EEF4;
}
#content .list .carrierimg {
	padding: 10px 0 0 5px;
}
.list .fares {
	text-align:center;
	border-left:1px solid #CCC;
}
.fade {
	color:#999;
}
.bold {
	font-weight:bold;
}
.large {
	font-size:20px;
	text-transform:uppercase;
}
.medium {
	font-size:16px;
}
.upper {
	text-transform:uppercase;
}
.center {
	text-align:center;
}
.paddingright {
	padding-right: 15px;
}
.right {
	text-align:right;
}
.details {
	border:1px solid #CCCCCC;
}
.details td {
	padding:4px;
}
.green {
	color:#6EC601;
}
.destination {
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	border-left:0;
	border-right:0;
}
.layover {
	background-color:#FCF9D6;
	text-align:center;
	border:1px solid #CCCCCC;
}
#findmore {
	border:1px solid #CCCCCC;
}
#findmore td {
	height:20px;
	padding-left:4px;
}
#waiting {
	position:absolute;
	top: 50%;
	left: 50%;
	width:200px;
	height:50px;
	padding:20px;
	text-align:center;
	color:#FFFFFF;
	margin-top: -100px; /*set to a negative number 1/2 of your height*/
	margin-left: -100px; /*set to a negative number 1/2 of your width*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf)); 
	background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%); 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	khtml-border-radius: 10px; 
	border-radius: 10px; 
}
.button1policy {
	display: block; 
	position: relative;
	padding: 4px 15px 0 15px; 
	border: 1px solid #4081af; 
	font-weight:bold;
	border-bottom-color: #20559a; 
	color: white; 
	text-align: center; 
	text-shadow: 0 -1px 0 rgba(0,0,0,.3); 
	text-decoration: none; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	khtml-border-radius: 4px; 
	border-radius: 4px; 
	background-color: #0090D2;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf)); 
	background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%); 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);
	overflow: hidden;
}
.button0policy {
	display: block; 
	margin: 5px; 
	padding: 4px 15px; 
	border: 1px solid #666666; 
	font-weight:bold;
	color: white; 
	text-align: center; 
	text-shadow: 0 -1px 0 rgba(0,0,0,.3); 
	text-decoration: none; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	khtml-border-radius: 4px; 
	border-radius: 4px; 
	background-color: #CCCCCC; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #cccccc), color-stop(1, #2e76cf)); 
	background: -moz-linear-gradient(center top, #999999 20%, #999999 100%); 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);
	overflow: hidden;
}
footer[role="contentinfo"]{
	font-size: 0.85em;
	padding-top: 15px;
}
#footer {
	height: 100px;
}
form div input[type="submit"] { 
	cursor: pointer;
	float: right;
	margin: 0px !important;
	padding: 4px 6px !important;
	position: relative;
	right: 4px;
}
input {
	padding: 5px;
	margin-top: 2px;
	border: solid 1px #CCCCCC;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
select {
	background-color: #FFFFFF;
	padding: 5px;
	margin-top: 2px;
	border: solid 1px #CCCCCC;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
textarea {
	padding: 5px;
	margin-top: 2px;
	height:100px;
	border: solid 1px #CCCCCC;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
input:hover, input:focus,
textarea:hover, textarea:focus,
select:hover, select:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
.close {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: #CCC;
	color: #FFF;
	position: relative;
	float: right;
	text-align: center;
	margin-left: 5px;
}
/* Filters */
.popup {
	color: #333333;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	margin: 0 8px;
	position: relative;
}
.popup-airlines {
	border: 1px solid #B7CFDF;
	background-color: white;
	color: gray;
	font-size: 13px;
	line-height: normal;
	width: 480px;
	border-radius: 5px 5px 5px 5px;
}
.popup-classes {
	border: 1px solid #B7CFDF;
	background-color: white;
	color: gray;
	font-size: 13px;
	line-height: normal;
	width: 250px;
	border-radius: 5px 5px 5px 5px;
}
.prefs-helptext {
	color: gray;
	font-size: 14px;
	line-height: normal;
	margin: 10px 6px;
	padding: 8px;
}
div.region {
	margin: 10px 0;
	overflow: hidden;
}
div.checkbox {
	float: left;
	height: 20px;
	margin: 5px;
	overflow: hidden;
	width: 150px;
}


#content .hotel {
	background-color: #FFF;
	font-size: 12px;
	padding: 5px;
	margin:10px;
	float:left;
	position: relative;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	color: #211922;
	min-height:70px;
}

#mapdiv {
	width:760px;
	float:left;
	border:1px solid #CCC;
	margin:0 auto;
}
.map {
	width:760px;
	height:280px;
	/*float:right;*/
	position:relative;
	margin:0 0 10px;
}
.popUpTable {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-size: 11px;
	border-spacing: 0;
	padding:10px;
}
.popUpTable table {
	border-spacing: 0;
}
/* 
 * ------------------------------------------ 
 * 				TABS
 * ------------------------------------------ 
 */

/* 
 * ------------------------------------------ 
 * 				SEAT MAPS
 * ------------------------------------------ 
 */
.seat {
	width:22px;
	height:22px;
	position:relative;
	float:left;
	display:table-cell;
	text-align:center;
	padding:0px;
}
.Available {
	background-image:url(../img/available.png);
}
.Preferential, .Extra, .Group {
	background-image:url(../img/preferred.png);
}
.Occupied, .Reserved, .Protected, .RBDRestriction,  .AdvancedBoardingPass{
	background-image:url(../img/occupied.png);
}
.InterlineCheckin, .Codeshare, .PartnerAirline, .AdvSeatSelection, .Unknown {
	background-image:url(../img/unknown.png);
}
.NoSeat, .Blocked {
	background-image:url(../img/seatna.png);
}
.wingmiddle {
	background-color:#CCCCCC;
}
/*
HOTEL
*/
.calendarDay {
	vertical-align: text-top;
	border: 1px solid #E6E9F3;
	text-align: center;
	width: 14%;
	height: 100%;
	line-height: 100%;
}