<div class="container">

    <!--Errors row-->
    <div class="eleven columns alert alert-error" ng-show="errors.length">
        <span ng-repeat="error in errors">{{error}}</span>
    </div>

    <!--Messages row-->
    <div class="eleven columns alert alert-info" ng-show="messages.length">
        <span ng-repeat="message in messages">{{message}}</span>
    </div>

</div>

<!--Page title row-->
<div class="container">
   <div class="page-header">
        <h1><a href="/booking/index.cfm?action=air.lowfare&amp;SearchID={{searchId}}">{{search.hotelHeading}} :: {{search.checkInDate | date:'EEE MMM dd'}} - {{search.checkOutDate | date:'EEE MMM dd'}}</a></h1>
    </div>
</div>

<!---First row--->
<div class="container">

    <div>
        <div class="eleven columns pull-left">
            <h4>Filter By <a href="javascript:void(0)" ng-click="clearFilters()" class="pull-right"><i class="icon-refresh"></i> Clear Filters</a></h4>
        </div>
        <div class="ten columns pull-right">
            <a href="javascript: void(0)" ng-click="showChangeSearchWindow()" class="pull-right">Change Search</a>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">

                <li>
                    <a href="javascript: void(0)" ng-click="showVendorFilter=!showVendorFilter" >Hotel Chain</a>
                </li>
                <li>
                    <a href="javascript: void(0)" ng-click="showAmenitiesFilter=!showAmenitiesFilter" >Amenities</a>
                </li>

                <li href="javascript: void(0)" ng-class="{'active': filterItems.inPolicyOnly}" ><a href="javascript: void(0)" ng-click="filterItems.inPolicyOnly = !filterItems.inPolicyOnly">In Policy</a></li>
                <li href="javascript: void(0)" ng-class="{'active': filterItems.noSoldOut}"><a href="javascript: void(0)" ng-click="filterItems.noSoldOut = !filterItems.noSoldOut">No Sold Out</a></li>

            </ul>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="well" ng-show="showVendorFilter">
         <div class="row">
             <div class="span3" ng-repeat="vendor in filterItems.vendors"><input type="checkbox" value="{{vendor.code}}" ng-model="vendor.checked"> {{vendor.name}}</div>
         </div>
    </div>

    <div class="well" ng-show="showAmenitiesFilter">
        <div class="row">
            <div class="span3" ng-repeat="amenity in filterItems.amenities">
                <input type="checkbox" value="{{amenity}}" ng-model="amenity.checked"> {{amenity.name}}
            </div>
        </div>
    </div>

</div>

<!---Second row--->
<div class="container">
    <div class="eleven columns" >
        <div class="pull-left">
            <span ng-hide="filterItems.currentPage == 1"><a href="javascript: void(0)" ng-click="filterItems.currentPage = filterItems.currentPage - 1" ><< Prev Page</a>&nbsp;</span>
            <span ng-repeat="i in numberToArray( calculatePages() )"><a href="javascript: void(0)" ng-click="$parent.filterItems.currentPage=$index+1">{{$index+1}}</a>&nbsp;</span>
            <span ng-hide="filterItems.currentPage == calculatePages()"><a  href="javascript: void(0)" ng-click="filterItems.currentPage = filterItems.currentPage + 1">Next Page >></a></span>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Continue without hotel</a>
        </div>

        <div class="pull-right"><span ng-show="filtersApplied()">{{filteredHotels.length}} of </span>{{hotels.length}} total properties</div>

    </div>
    <div class="clearfix" />

    <div class="eleven columns" style="height: 500px; overflow: auto;">

        <div ng-show="searchCompleted && filteredHotels.length" ng-repeat="item in visibleHotels"  style="padding-bottom: 15px; padding-left: 5px; padding-right: 5px; background-color: #FFFFFF; min-height:100px; border-bottom: 2px solid #EEEEEE; border-right: 2px solid #EEEEEE; border-left: 2px solid #EEEEEE; margin-top: 7px; margin-right: 10px;">
            <table>
                <tbody>
                <tr ng-show="item.hotel.preferredVendor">
                    <td colspan="3"><span class="preferred blue bold">PREFERRED</span></td>
                </tr>
                </tr>
                <tr>
                    <td style="width: 100px; vertical-align: top">
                        <img src="{{item.hotel.SignatureImage}}" height="70" width="100">
                    </td>
                    <td valign="top" style="padding-left: 20px; width: 280px;">
                        <div class="hotelName" style="width: 100%; clear: both; font-weight: bold;">
                            <span class="recordNumber">{{item.propertyNumber}}</span> - <span class="propertyName">{{item.hotel.PropertyName}}</span>
                        </div>

                        <div class="hotelAddress" style="width: 100%; clear: both; font-size: 11px;">{{item.hotel.Address}}, {{item.hotel.City}}, {{item.hotel.State}}</div>
                        <div class="hotelDistance" style="width: 100%; clear: both; font-size: 11px; font-weight: bolder;">{{item.hotel.distance}} miles</div>

                        <div class="btn-group">
                            <button ng-click="loadExtendedHotelData(hotel);showHotelDetails=!showHotelDetails;showAreaDetails=false;showAmenities=false;showPhotos=false;showRooms=false;" ng-class="{'btn': true, 'btn-mini': true, 'btn-primary': showHotelDetails}">Details</button>
                            <button ng-click="loadExtendedHotelData(hotel);showAreaDetails=!showAreaDetails;showHotelDetails=false;showAmenities=false;showPhotos=false;showRooms=false;" ng-class="{'btn': true, 'btn-mini': true, 'btn-primary': showAreaDetails}">Area</button>
                            <button ng-click="loadExtendedHotelData(hotel);showAmenities=!showAmenities;showHotelDetails=false;showAreaDetails=false;showPhotos=false;showRooms=false;" ng-class="{'btn': true, 'btn-mini': true, 'btn-primary': showAmenities}">Amenities</button>
                            <button ng-click="loadExtendedHotelData(hotel);showPhotos=!showPhotos;showHotelDetails=false;showAreaDetails=false;showAmenities=false;showRooms=false;" ng-class="{'btn': true, 'btn-mini': true, 'btn-primary': showPhotos}">Photos</button>
                        </div>
                    </td>
                    <td class="fares" align="center" style="width: 100px;">
                        <img class="loading" src="/booking/assets/img/ajax-loader.gif" ng-hide="item.hotel.roomsReturned">
                        <span class="medium red bold" style="color: red;" ng-show="item.hotel.isSoldOut()">SOLD OUT</span>
                            <span class="room-details-wrapper" ng-show="item.hotel.hasRoomsAvailable()">
                                <span ng-show="!item.hotel.isInPolicy" rel="tooltip" class="outofpolicy" title="Maximum nightly rate exceeded">OUT OF POLICY<br></span>
                                <span class="large blue bold" >
                                    ${{item.hotel.findLowestRoomRate()}} <i class="icon-ban-circle icon-large red" style="color: red;" ng-show="!item.hotel.isInPolicy"></i>
                                </span>
                                <span ng-show="item.hotel.hasCorporateRate()" class="small blue bold"><br>Corp Rate</span>
                                <span ng-show="!item.hotel.hasCorporateRate() && item.hotel.hasGovernmentRate()" class="small blue bold"><br>Gov Rate</span>
                                <button
                                    ng-class="{'btn': true, 'btn-mini': true, 'btn-primary': item.hotel.isInPolicy}"
                                    ng-click="updateTooltips();showRooms=!showRooms;showHotelDetails=false;showAreaDetails=false;showAmenities=false;showPhotos=false;">
                                    <span ng-show="showRooms">HIDE ROOMS</span>
                                    <span ng-show="!showRooms">SHOW ROOMS</span>
                                </button>
                            </span>
                    </td>
                </tr>
                <tr ng-show="showHotelDetails">
                    <td colspan="3" class="hotel-details"><b>Hotel Details</b>
                        <div ng-show="!item.hotel.details.loaded"  style="width: 100%; text-align: center">
                               <img class="loading" src="/booking/assets/img/ajax-loader.gif" >
                        </div>
                        <div ng-show="item.hotel.details.loaded" style="width: 100%">

                            <div style="width: 100%" >
                                <div style="text-align: left; vertical-align: top; width: 25%; float: left; clear: none">
                                    <b>CHECK IN:</b>
                                </div>
                                <div style="text-align: left; vertical-align: top; width: 70%; float: left; clear: right">
                                    {{item.hotel.CheckIn}}&nbsp;
                                </div>
                            </div>

                            <div style="width: 100%" >
                                <div style="text-align: left; vertical-align: top; width: 25%; float: left; clear: none">
                                    <b>CHECK OUT:</b>
                                </div>
                                <div style="text-align: left; vertical-align: top; width: 70%; float: left; clear: right">
                                    {{item.hotel.CheckOut}}&nbsp;
                                </div>
                            </div>

                            <div ng-show="item.hotel.details.services.length" style="width: 100%" >
                                <div style="text-align: left; vertical-align: top; width: 25%; float: left; clear: none">
                                    <b>SERVICE:</b>
                                </div>
                                <div style="text-align: left; vertical-align: top; width: 70%; float: left; clear: right">
                                    {{item.hotel.details.services}}
                                </div>
                            </div>

                            <div ng-show="item.hotel.details.facility.length" style="width: 100%" >
                                <div style="text-align: left; vertical-align: top; width: 25%; float: left; clear: none">
                                    <b>FACILITY:</b>
                                </div>
                                <div style="text-align: left; vertical-align: top; width: 70%; float: left; clear: right">
                                    {{item.hotel.details.facility}}
                                </div>
                            </div>

                            <div ng-show="item.hotel.details.rooms.length" style="width: 100%" >
                                <div style="text-align: left; vertical-align: top; width: 25%; float: left; clear: none">
                                    <b>ROOMS:</b>
                                </div>
                                <div style="text-align: left; vertical-align: top; width: 70%; float: left; clear: right">
                                    {{item.hotel.details.rooms}}
                                </div>
                            </div>

                            <div ng-show="item.hotel.details.recreation.length" style="width: 100%" >
                                <div style="text-align: left; vertical-align: top; width: 25%; float: left; clear: none">
                                    <b>RECREATION:</b>
                                </div>
                                <div style="text-align: left; vertical-align: top; width: 70%; float: left; clear: right">
                                    {{item.hotel.details.recreation}}
                                </div>
                            </div>

                        </div>


                        <div ng-show="item.hotel.details.loaded && !item.hotel.details.services.length && !item.hotel.details.facility.length && !item.hotel.details.rooms.length && !item.hotel.details.recreation.length" >
                            <p>This information is not available for this property.</p>
                        </div>
                    </td>

                </tr>
                <tr ng-show="showAreaDetails">
                    <td colspan="3" class="area-details">
                        <b>Area Details</b>
                        <div ng-show="!item.hotel.details.loaded"  style="width: 100%; text-align: center">
                            <img class="loading" src="/booking/assets/img/ajax-loader.gif" >
                        </div>
                        <div ng-show="item.hotel.details.loaded" style="width: 100%">

                            <div ng-show="item.hotel.details.directions.length" style="width: 100%" >
                                <div style="text-align: left; vertical-align: top; width: 25%; float: left; clear: none">
                                    <b>DIRECTIONS:</b>
                                </div>
                                <div style="text-align: left; vertical-align: top; width: 70%; float: left; clear: right">
                                    {{item.hotel.details.directions}}
                                </div>
                            </div>

                            <div ng-show="item.hotel.details.transportation.length" style="width: 100%" >
                                <div style="text-align: left; vertical-align: top; width: 25%; float: left; clear: none">
                                    <b>TRANSPORTATION:</b>
                                </div>
                                <div style="text-align: left; vertical-align: top; width: 70%; float: left; clear: right">
                                    {{item.hotel.details.transportation}}
                                </div>
                            </div>

                        </div>
                        <div ng-show="item.hotel.details.loaded && !item.hotel.details.transportation.length && !item.hotel.details.directions.length" >
                            <p>This information is not available for this property.</p>
                        </div>
                    </td>
                </tr>
                <tr ng-show="showAmenities">
                    <td colspan="3" class="amenities"><b>Amenities</b><br>
                        <span ng-repeat="amenity in item.hotel.Amenities"><div style="width: 33%; float: left;">{{amenity}}</div></span>
                    </td>
                </tr>
                <tr ng-show="showPhotos">
                    <td colspan="3" class="photos">
                        <b>Photos</b>
                        <div ng-show="!item.hotel.details.loaded"  style="width: 100%; text-align: center">
                            <img class="loading" src="/booking/assets/img/ajax-loader.gif" >
                        </div>
                        <div ng-show="item.hotel.details.loaded" style="width: 100%">

                            <div ng-show="!item.hotel.images.length" style="width: 100%">
                                There are no photos available for this property.
                            </div>

                            <div ng-show="item.hotel.images.length" style="width: 100%" >
                                <div style="text-align: left; vertical-align: top; width: 35%; float: left; clear: none">
                                    <img  src="{{item.hotel.selectedImage}}" height="138" width="200"  />
                                </div>
                                <div style="text-align: left; vertical-align: top; width: 60%; float: left; clear: right">
                                    <div ng-repeat="image in item.hotel.images" style="padding: 3px; float: left;">
                                        <a href="javascript: void(0)" ng-click="$parent.item.hotel.selectedImage = image.imageURL"><img src="{{image.imageURL}}" height="69" width="100"  /></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div ng-show="item.hotel.details.loaded && !item.hotel.details.transportation.length && !item.hotel.details.directions.length" >
                            <p>This information is not available for this property.</p>
                        </div>
                    </td>
                </tr>
                <tr ng-show="showRooms">
                    <td colspan="3" class="rooms"><b>Rooms</b><br>
                        <div ng-repeat="room in item.hotel.rooms" style="width: 100%; ">
                            <div style="width: 65%; float: left; clear: none; padding-bottom: 7px;">
                                {{room.description}}
                            </div>
                            <div style="width: 15%; float: left; clear: none; padding-bottom: 7px;">
                                <span ng-show="room.isCorporateRate" class="small blue bold">Corp Rate</span>
                                <span ng-show="room.isGovernmentRate" class="small blue bold">Gov Rate</span>
                            </div>
                            <div style="width: 15%; float: left; clear: right; padding-bottom: 7px;">
                                <span ng-show="!room.isInPolicy" rel="tooltip" class="outofpolicy" title="Maximum nightly rate exceeded">OUT OF POLICY<br></span>
                                <button style="width: 75%"
                                    ng-class="{'btn': true, 'btn-mini': true, 'btn-primary': room.isInPolicy}"
                                    ng-click="">
                                    <span class="medium bold">${{room.dailyRate}}</span>
                                </button>
                                <i class="icon-ban-circle icon-large" style="color: red" ng-show="!room.isInPolicy"></i>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div ng-show="searchCompleted && !filteredHotels.length">
            <p>There were no hotels found based on your search criteria. Increase the number of miles for your search, <a href="javascript:void(0)" ng-click="clearFilters()" > clear your filters</a> or <a href="javascript: void(0)" ng-click="showChangeSearchWindow()">change your search</a> and try again.</p>
        </div>

    </div>

    <div class="ten columns" id="mapDiv" style="height: 500px;" >
    </div>
</div>

<!--Bottom row under search results and map-->
<div class="container">
    <div class="eleven columns">

        <div style="float: left">
            <span ng-hide="filterItems.currentPage == 1"><a href="javascript: void(0)" ng-click="filterItems.currentPage = filterItems.currentPage - 1" ><< Prev Page</a>&nbsp;</span>
            <span ng-repeat="i in numberToArray( calculatePages() )"><a href="javascript: void(0)" ng-click="$parent.filterItems.currentPage=$index+1">{{$index+1}}</a>&nbsp;</span>
            <span ng-hide="filterItems.currentPage == calculatePages()"><a  href="javascript: void(0)" ng-click="filterItems.currentPage = filterItems.currentPage + 1">Next Page >></a></span>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Continue without hotel</a>
        </div>

    </div>
    <div class="eleven columns">
        &nbsp;{{filterItems.currentPage}}
    </div>
</div>

<!-- Modal window to be displayed while search is occurring. -->
<div id="searchWindow" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mySearchWindow" aria-hidden="true">
    <div class="modal-header">
        <h3 id="myModalHeader">Please Wait</h3>
    </div>
    <div id="myModalBody" class="modal-body">
        <p><i class="icon-spinner icon-spin icon-large"></i> Searching for...</p>
        <p>
            We are finding hotels closest to {{search.hotelHeading}} for {{search.checkInDate | date:'MM-dd-yyyy'}} - {{search.checkOutDate | date:'MM-dd-yyyy'}}.
        </p>
        <p>
            Tip: Double click on the map to update your search with hotels available in other areas of the city.
        </p>
    </div>
</div>

<!-- Modal window to be displayed when change search feature is selected -->
<div id="changeSearchWindow" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mySearchWindow" aria-hidden="true">
    <div class="modal-header">
        <h3 id="changeSearchWindowHeader">Change Your Hotel Search</h3>
    </div>
    <div id="changeSearchWindowBody" class="modal-body">
        <div>
            <div class="form-element-label">
                <label for="hotel-radius">&nbsp;</label>
            </div>

            <div class="form-element-content">
                <div class="input-container">
                    <div class="btn-group" style="margin-right: 10px;">
                        <button class="btn btn-mini">in {{search.hotelRadius}} miles of</button>
                        <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" ng-click="search.hotelRadius=1">in 1 mile of</a></li>
                            <li><a href="javascript:void(0)" ng-click="search.hotelRadius=2">in 2 miles of</a></li>
                            <li><a href="javascript:void(0)" ng-click="search.hotelRadius=5">in 5 miles of</a></li>
                            <li><a href="javascript:void(0)" ng-click="search.hotelRadius=10">in 10 miles of</a></li>
                            <li><a href="javascript:void(0)" ng-click="search.hotelRadius=15">in 15 miles of</a></li>
                            <li><a href="javascript:void(0)" ng-click="search.hotelRadius=20">in 20 miles of</a></li>
                            <li><a href="javascript:void(0)" ng-click="search.hotelRadius=25">in 25 miles of</a></li>
                        </ul>
                    </div>

                    <div class="btn-group" id="hotel-search-type" data-toggle="buttons-radio" style="float: right;">
                        <button id="hotel-search-airport" ng-class="{'btn': true, 'btn-mini': true, 'btn-primary': search.hotelSearch=='airport'}" ng-click="search.hotelSearch='airport'">Airport</button>
                        <button id="hotel-search-address" ng-class="{'btn': true, 'btn-mini': true, 'btn-primary': search.hotelSearch=='address'}" ng-click="search.hotelSearch='address'">Address</button>
                        <!--<button id="hotel-search-location" ng-class="{'btn': true, 'btn-mini': true, 'btn-primary': search.hotelSearch=='office'}" ng-click="search.hotelSearch='office'">Offices/Venues</button>-->
                    </div>
                </div>
            </div>
        </div>

        <div id="hotel-airport-wrapper" ng-show="search.hotelSearch=='airport'">
            <div class="form-element-label">
                <label>&nbsp;</label>
            </div>

            <div class="form-element-content">
                <input id="hotel-airport" name="hotel-airport" autocomplete="off" type="text" class="input-block-level airport-select2" ng-model="search.hotelAirport" placeholder="airport">
            </div>
        </div>

        <div id="hotel-address-wrapper"  ng-show="search.hotelSearch=='address'">
            <div class="form-element-label">
                <label>&nbsp;</label>
            </div>

            <div class="form-element-content">
                <input id="hotel-address" name="hotel-address" autocomplete="off" type="text" class="input-block-level" placeholder="address" style="margin-bottom: 10px;" ng-model="search.hotelAddress">
                <input id="hotel-city" name="hotel-city" type="text" class="input-large" placeholder="city" ng-model="search.hotelCity">
                <input id="hotel-state" name="hotel-state" type="text" class="input-small" placeholder="state" ng-model="search.hotelState">
                <input id="hotel-zip" name="hotel-zip" type="text" class="input-small" placeholder="zip" ng-model="search.hotelZip">
            </div>
        </div>

        <!--
        <div id="hotel-location-wrapper" ng-show="search.hotelSearch=='office'">
            <div class="form-element-label">
                <label>&nbsp;</label>
            </div>

            <div class="form-element-content">
                <select id="hotel-location" name="hotel-location" class="input-block-level">
                    <option></option>
                    <cfoutput query="locations">
                        <option value="#locations.Office_ID#">#locations.Office_Name#</option>
                    </cfoutput>
                </select>
            </div>
        </div>
        -->
        <div id="hotel-date-wrapper">
            <div class="form-element-label">
                <label for="hotel-in-date">&nbsp;</label>
            </div>

            <div class="form-element-content">
                <div style="width: 46%; float: left; margin-right: 4%">
                    <input id="hotel-in-date" type="text" name="hotel-in-date" class="full-width" value="" placeholder="check in date" />
                </div>
                <div style="width: 46%; float: left;">
                    <input id="hotel-out-date" type="text" name="hotel-out-date" class="full-width" value="" placeholder="check out date" />
                </div>
            </div>
        </div>

        <div>
            <div class="form-element-label">
                <label>&nbsp;</label>
            </div>

            <div class="form-element-content">
                <div id="start-calendar-wrapper" style="width: 49%; float: left; clear: none;"></div>
                <div id="end-calendar-wrapper" style="width: 49%; float: left; clear: none;"></div>
            </div>
        </div>

        <div id="submit-wrapper" class="row" style="text-align: right;">
            <a href="javascript:void(0)" id="btnFormSubmit" class="btn btn-large btn-primary btn-small" ng-click="updateSearch()" type="submit" data-toggle="modal">Search</a>
        </div>
    </div>
</div>